# JWT Secret Key used for signing and verifying JSON Web Tokens
JWT_SECRET=edtechUnique123

# MongoDB connection string for connecting to the database
MONGODB_URL= mongodb://localhost:27017/edtech-backend

# Hostname of the mail server used for sending emails
MAIL_HOST= parasmulodia@gmail.com

# Username of the email account used for sending emails
MAIL_USER=Paras

# Password of the email account used for sending emails
MAIL_PASS=qucw wahk pjyb udar